<!DOCTYPE html>
<html dir="rtl" itemscope itemtype="http://schema.org/Event" style="scroll-behavior: smooth;">
<head>
  <title itemprop="name">{{ .Site.Params.Name }}</title>

  <meta charset="utf-8">
  <meta name="author" content="{{ .Site.Params.Name }}" />
  <meta name="description" content="{{ .Site.Params.Description }}">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {{ .Hugo.Generator }}
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}

  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">

  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/vazir.css">
  <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/font-face.css" rel="stylesheet" type="text/css" />

</head>
<body>

  <div class="content" id="content">
    <div class="wrapper">
<section>
  <h2>{{ .Title }}</h2>
  {{ .Content }}
</section>
</div>
</div>
</body>
</html>