<h2 class="section-title">{{ .titles.about }}</h2>

<!-- <p itemprop="description">So you want to organize a conference? That's pretty awesome! But we know that you don't have time to create the website, since you have to worry about contacting sponsors, choosing the right place, buying airplane tickets for speakers and many other things.</p>

<p>That's why we created this project! <a href="https://github.com/braziljs/conf-boilerplate" target="_blank">Conf Boilerplate</a> is an iniciative of <a href="http://braziljs.org" target="_blank">BrazilJS Foundation</a> that provides a simple structure built on top of Docpad, a static generator in NodeJS, with all the things you need to create a event. We also provide a responsive template with i18n!</p>

<p>This is just a live demo, check our <a href="https://github.com/braziljs/conf-boilerplate" target="_blank">repository on Github</a> for more details =D</p> -->
<p>
روز آزادی نرم‌افزار همه ساله توسط بسیاری علاقه‌مندان نرم‌افزار آزاد در نقاط مختلفی از جهان گرامی داشته می‌شود. تاریخ رسمی این روز در سال ۲۰۲۱ مطابق رویه همیشگی، سومین شنبه ماه سپتامبر مصادف با ۱۸ سپتامبر خواهد بود. به همین مناسبت، دورهمی گنو یک روز جلوتر و در روز جمعه ۲۶ شهریور و نیز آزادان در روز شنبه ۲۷ شهریور، رویدادهای برگزار خواهند کرد.
</p>
<h2><a href="https://sfd.gnumeetup.org/statement/" >متن بیانیه به مناسبت روز آزادی نرم‌افزار</a></h2>