{{ with .forkbutton }}
  <a href="{{ .repository }}" class="github-link" target="_blank">
    <img src="/img/forkme_right_white_ffffff.png" alt="بزن مشارکت در برگزاری جشن">
  </a>
{{ end }}

<header class="header">
  <div class="wrapper">
    <h2 class="tagline">رویداد ویژه دورهمی گنو به مناسبت</h2>
    <h1 class="logo-name">
      <a class="logo-link" href="#" title="{{ .name }}" itemprop="name">{{ .name }}</a>
    </h1>
    </br>
    <h2 class="tagline">{{ .date }}</h2>

    <div class="call-action-area">
      {{ with .price }}
        <span class="price">{{ . }}</span>
      {{ end }}

      {{ with .calltoaction }}
        <a href="{{ .link }}" class="call-action-link" target="_self" title="{{ .text }}">{{ .text }}</a>
      {{ end }}
    </div>
  </div>
</header>

<hr>
