<h2 class="section-title">{{ .titles.location }}</h2>
<div align="center" >
  <iframe title="دورهمی گنو - روز آزادی نرم‌افزار ۱۴۰۰" src="https://peertube.linuxrocks.online/video-playlists/embed/604ee882-1774-41df-8891-0c71d73240cf?playlistPosition=1" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups" width="560" height="315" frameborder="0">
  </iframe>
</div>

<p>نشانی:</p>
<p><a dir="ltr" href="https://peertube.linuxrocks.online/w/p/cTLxvepgDgy1kAYe2x9qWB" target="_blank">فهرست پخش برنامه‌ها</a></p>
