<h2 class="section-title">{{ .titles.schedule }}</h2>

<div class="schedule-tbl">
  <table>
    <thead>
      <tr>
        <th class="schedule-time">زمان شروع</th>
        <th class="schedule-slot">مبحث</th>
      </tr>
    </thead>
    <tbody>
      {{ range $slot := .schedule }}
        {{ if ne .presentation nil }}
          <tr>
            <td class="schedule-time">{{ .presentation.time }}</td>
            <td class="schedule-slot">
            {{ with .photo }}
              <span class="speaker-photo">
                <img class="photo" src="{{ . }}" alt="{{ $slot.name }}">
              </span>
            {{ end }}

              {{ .presentation.title }}
              <span class="speakers-company">{{ .company }}</span>
            </td>
          </tr>
        {{ else }}
          <tr class="schedule-other">
            <td class="schedule-time">{{ .time }}</td>
            <td class="schedule-slot">{{ .name }}</td>
            <td class="schedule-description"> </td>
          </tr>
        {{ end }}
      {{ end }}
    </tbody>
  </table>
</div>
